.card-container {
  margin-top: 4.5rem;
  font-size: 3rem;
  font-weight: 400;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  border-radius: 6rem;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  transition: transform 0.5s;
}
.card-content p {
  font-size: 1.5rem;
}
.card-container:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.card-link {
  display: contents;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}
@media only screen and (max-width: 600px) {
  .card-container {
    max-width: 20rem !important;
    min-height: 20rem !important;
  }
}
