@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  gap: 0.5rem;
  margin-top: 6rem;
}

.project-text {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  animation: fadeIn 0.5s ease-in-out forwards;
  margin-bottom: 16rem;
}

.project-text h1 {
  font-size: 3rem;
  font-weight: 700;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cards-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

@media only screen and (min-width: 600px) {
  .cards {
    flex-direction: row;
    gap: 6rem;
  }
  .cards-2 {
    flex-direction: row;
    gap: 6rem;
  }
}
