@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.project-text {
  margin-top: 6rem;
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.project-text h1 {
  font-size: 3rem;
  font-weight: 700;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media only screen and (min-width: 600px) {
  .cards {
    flex-direction: row;
  }
}
