@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body.no-scroll {
  overflow: hidden;
}

.welcome-page::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../assets/backgroundPhoto.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}

.welcome-container {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.welcome-text h1 {
  font-size: 3rem;
  font-weight: 700;
}

.welcome-text p {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.welcome-message p {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}
.explore-button {
  margin-top: 2rem;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  border: 2px solid #0c3c6f;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.explore-button:hover {
  background-color: #0c3c6f;
  color: white;
  transform: scale(1.1);
}

.animated-text-header {
  margin-bottom: 0;
}
.animated-text {
  animation: fadeInOut 3s infinite;
  text-shadow: 2px 2px 12px black;
  border: 1px solid #ffffff; /* Adjust the color as needed */
  padding: 1rem;
  border-radius: 2rem;
}
@media only screen and (max-width: 600px) {
  .welcome-text {
    font-size: 2rem;
  }

  .welcome-text h1 {
    font-size: 2rem;
  }

  .welcome-text p {
    font-size: 1.5rem;
  }
}
