.accordian {
  border: 2px solid #0c3c6f;
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.accordian-title {
  background-color: #242424;
  color: white;
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
  width: 100%;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.accordian-content {
  padding: 1rem;
  font-size: 1.5rem;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.accordian-title:hover {
  background-color: white;
  color: #242424;
  transition: all 0.3s ease-in-out;
}

.accordian:hover {
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
}
.accordian.open .accordian-title:hover {
  color: white;
  background-color: #242424;
  transition: all 0.3s ease-in-out;
}
.accordian.open {
  transform: none;
}
.accordian.open .accordian-content {
  max-height: 100rem;
}
