.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: black;
}

.nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 6.25rem;
  color: rgba(255, 255, 255, 0.87);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-item:hover {
  background-color: #0c3c6f;
  color: white;
  border-radius: 3rem;
  transition: 0.5s;
}

@media only screen and (max-width: 600px) {
  .nav-container {
    justify-content: center;
    height: 3rem;
  }

  .nav-item {
    font-size: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
