@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.text h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.text h6 {
  font-size: 1.5rem;
}

.text a {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
}

.text a:hover {
  color: black;
  transition: 0.3s;
}

.wrapper {
  border: black solid 1px;
  border-radius: 4rem;
  background-color: #460ff0;
  align-items: center;
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.image {
  padding: 1rem;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  border-radius: 4rem;
}

.link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.summary-text {
  line-height: 2rem;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}
