@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    align-items: center !important;
    width: 100% !important;
  }
  .text {
    text-align: center;
  }

  .image {
    transform: scale(0.9) !important;
  }
  .text h1 {
    font-size: 2rem;
  }

  .text a {
    font-size: 1.2rem;
  }
  .text-image {
    flex-direction: column !important;
    gap: 0rem !important;
    padding-bottom: 3rem;
  }
  .info {
    width: 90% !important;
  }
}

.text-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.text h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.text h6 {
  font-size: 1.5rem;
}

.text a {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  transition: 0.3s;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3rem;
  border: solid 1px #242424;
}

.text a:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}

.wrapper {
  border: solid 2px black;
  border-radius: 4rem;
  background-color: #0c3c6f;
  align-items: center;
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image {
  padding: 1rem;

  border-radius: 4rem;
  transition: transform 0.3s ease-in-out;
}
.image:hover {
  transform: scale(1.1) rotate(5deg);
}

.link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.info {
  line-height: 2rem;
  font-weight: 400;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
  animation: fadeIn 0.5s ease-in-out forwards;
  width: 80%;
}
.info h1 {
  font-size: 2rem;
}
.info p,
.info h2 {
  font-size: 1.5rem;
}
.skills,
.work,
.education {
  margin-top: 2rem;
}

.kotini,
.camp {
  border-top: solid 1px #0c3c6f;
}

.degree {
  margin-left: 3rem;
  line-height: 1.5rem;
}
